<div class="main-background">
  <div class="home-container">
    <div class="home-container-logo">
      <%= image_tag 'logo.jpg' %>
    </div>
    <div class="home-container-buttons">
      <%= link_to 'Iniciar sesión', new_user_session_path, class: 'button' %>
    </div>
  </div>
<div>

